html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}
.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.head{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    
    
}
.heading{
    background-color: #004E64;
    color: aliceblue;
}
.clg{
    display: flex;
    justify-content: center;
    
}
.clg_name{
    padding-left: 50px;
    object-position: center;
    padding-top: 25px;
}
.bdy{
    padding:50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;    
    
}
.bdy1{
    padding:50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;    

}
.bdy2{
    text-align:center;
display:block;
    width:30%;
    height: auto;

}
.center{
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.b1{
    grid-column-start: 1;
    grid-column-end: 3;
}
#form1{
    /**
    display: grid;
    grid-template-columns: 50;
    grid-gap: 10px;**/
    vertical-align: middle;   

}
.btn1{
    vertical-align: middle;
}
.a1{
    grid-column-start: 1;
    grid-column-end: 2;
}   
.a2{
    grid-column-start: 2;
    grid-column-end: 3;
}   

.b{
    padding: 5px;
    width:33%;

}

button{
    width: 100%;
}
.imgprev{
    display: block;
}
.output-image{
}
footer{
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #004E64;
    padding: 10px;
    color: aliceblue;
    flex-shrink: 0;
}
.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}
/*
.head{
    flex-direction: column;
}
.column {
    width:33.3%;
    background-color: red;
}
.heading{
    text-align: center;
}
.clg {
    width:100%;
}
.upload {
    height:30px;
    width: 100%;
}

.row{
}

.iconDetails {
 margin-left:2%;
float:left; 
height:40px;
width:40px; 
} 

.container2 {
    width:100%;
    height:auto;
    padding:1%;
}

form{
  border: 4px dashed;
}
form p{
  text-align: center;
  line-height: 170px;
  color: gray;
  font-family: Arial;
}
form input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 33.3%;
    
    background-color:black;
  outline: none;
  opacity: 0;
}
*/