<!DOCTYPE html>
<html lang="en">

<head>
    <title>Image Authentication</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main1.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

</head>


<body>
    <div class="content">
        <div class="head">
            <div class="heading">
                <h1>Image Authentication using Watermarking Technique</h1>
            </div>

            <div class="clg">
                <div class="icon">
                    <img src="{{url_for('static', filename='logo.jpg')}}" height="100" width="100">-->
                    <!--<img src="logo.jpg" height="100" width="100">-->

                </div>
                <div class="clg_name">
                    <h2><strong>G B Pant Government Engineering College</strong></h2>
                </div>
            </div>

        </div>


        <form class="container" method="POST" enctype="multipart/form-data">
            <div class="bdy1">
                <div class="a1">
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" name="watermarked_file" class="custom-file-input" id="outputFile" accept="image/*">

                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type='button' value="Upload output Image" id="uploadoutput" class="btn btn-block btn-dark" />
                        <br>
                        <div class="col-xs-12 col-sm-12 progress-container">
                            <div class="progress progress-striped active">
                                <div id="pbw" class="progress-bar progress-bar-success" id="progressBar" style="width:0%"></div>
                            </div>
                        </div>

                    </div>
                    <div class="imgprev">
                        <img id="output_preview" class="img" width="100%" src="{{url_for('static', filename='placeholder.png')}}" />
                        <!--<img id="output_preview" class="img" width="100%"  src=placeholder.png />-->

                    </div>



                </div>
                <div class="a3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">#</span>
                        </div>
                        <input type="text" name="key" class="form-control" placeholder="Input Key">
                    </div>
                    <div class="btn1">
                        <button class="btn btn-danger" name="decrypt" value="decrypt">Decrypt</button>



                    </div>
                </div>
            </div>

        </form>

    </div>
    <footer>
        <p>Managed by: Sushmita</p>
        <p>Contact information: <a href="mailto:17sushmita@gmail.com">
  17sushmita@gmail.com</a>.</p>
    </footer>


</body>
<script type='text/javascript'>
    $(document).ready(function() {
        $('#outputFile').on("change", function() {
            let filenames = [];
            let files = document.getElementById("outputFile").files;
            if (files.length > 1) {
                filenames.push("Total Files (" + files.length + ")");
            } else {
                for (let i in files) {
                    if (files.hasOwnProperty(i)) {
                        filenames.push(files[i].name);
                    }
                }
            }
            $(this)
                .next(".custom-file-label")
                .html(filenames.join(","));

            var reader = new FileReader();
            reader.onload = function(e) {
                // get loaded data and render thumbnail.
                document.getElementById("output_preview").src = e.target.result;
            };
            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);
            $('#uploadoutput').click(function() {
                //alert("yoooo");
                $("#pbw").animate({
                    width: "100%"
                }, 350);
                $('#pbw').text('Uploaded');


            });

        });



    });
</script>

</html>
<!--<button class="btn btn-danger" name="decrypt" value="decrypt">Decrypt</button>-->