<!DOCTYPE html>
<html lang="en">

<head>
    <title>Image Authentication</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main1.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>



</head>


<body>
    <div class="content">

    <div class="head">
        <div class="heading">
            <h1>Image Authentication using Watermarking Technique</h1>
        </div>

        <div class="clg">
            <div class="icon">
                <!--<img src="logo.jpg" height="100" width="100">-->
                <img src="{{url_for('static', filename='logo.jpg')}}" height="100" width="100">

            </div>
            <div class="clg_name">
                <h2><strong>G B Pant Government Engineering College</strong></h2>
            </div>
        </div>

    </div>

<div>
    <div class="bdy3">
        <div class="s1">
            <p><b>You have a photo to protect from unauthetication use?? Looking for a tool??
                Tool that is affordable and relaiable??</b></p>
            <p>
Well then you are in right place. Now for watermarking You do not need to learn programming algorithm.
All you have to do is click in the tool upload your image and see the magic of embedding invisible digital watermarking.
You are ready to go. Share your photo once embedded with the digital watermarking without being afraid of unauthetication use.

The algorithm used is  Chaos-based Fragile Watermarking Method in Spatial Domain for Image Authentication.</p>
        </div>
        
            <div class="s2">

            <form id="form1" class="container" method="POST" enctype="multipart/form-data">
                
                    <div class="btn1">
                        <button class="btn btn-success" name="encrypt" value="encrypt">Encrypt</button>
                        <br>
                        <br>                    
                        <button class="btn btn-danger" name="decrypt" value="decrypt">Decrypt</button>
                    </div>
                
            </form>
            </div>
    </div>
</div>
    </div>
    <footer>
    <p>Managed by: Restu Kumari and Himanshu Bhati</p>
        <p>Contact information: <a href="mailto:shivyashirk@gmail.com">
  shivyashirk@gmail.com</a> and  <a  href="mailto:bhatiihimanshu@gmail.com">bhatiihimanshu@gmail.com</a></p>
</footer>


</body>

</html>